<div class="col-md-3 col-sm-12">
    <ul>
        <li><a href="Index.php">Principal</a></li>
        <li><a href="CadastroAluno.php">Cadastrar Aluno</a></li>
        <li><a href="ExibirAluno.php">Exibir Alunos</a></li>
        <li><a href="EditarAluno.php">Editar Aluno</a></li>
        <li><a href="ExcluirAluno.php">Excluir Aluno</a></li>
		 <li><a href="CadastroProfessor.php">Cadastrar Professor</a></li>
        <li><a href="ExibirProfessor.php">Exibir Professor</a></li>
        <li><a href="EditarProfessor.php">Editar Professor</a></li>
        <li><a href="ExcluirProfessor.php">Excluir Professor</a></li>
    </ul>
</div>